body {
  margin: 0;
  padding-left: 1%;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40%;
}

input {
  margin-bottom: 2%;
}

ul {
  list-style: none;
  padding: 0;
}

form .add {
  width: 65px;
}
